.main-body-container, .table {
  display: flex;
  min-height: 50vh;
  margin: 0 10vw;
}

.text-block, .image-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

  .text-block h1 {
    font-family: "QanelasSoft-UL";
    font-size: 3rem;
  }
  .text-block p {
    font-family: "QanelasSoft-UL";
    font-size: 1.5rem;
  }

.image-block {
}

.table {
  display: flex;
  margin: 7vh 10vw;
  font-family: "QanelasSoft-ME";
  color: white;
  background-color: var(--lotblue);
  padding: 30px 40px;
  border-radius: 15px;
  text-align: left;
  justify-content: center;
}

  .table table {
    width: 100%;
    border-collapse: collapse; 
  }
  .table th, .table td {
    text-align: left; 
    padding: 10px; 
    max-height: 50px;
  }

  .table th{
      padding-top: 40px;
  }


.sticky-button-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000; 
}

.sticky-button {
  color: white;
  border-radius: 100%;
  cursor: pointer;
  font-size: 30px;
  font-family: Arial Black;
  width: 74px;
  height: 69px;
  border-width: 0px;
  border-color: rgba(255, 255, 255, 1);
  font-weight: bold;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 1);
  background: var(--lotblue);
}

  .sticky-button:hover {
    background-color: white;
    color: var(--lotblue);
    border: solid 5px;
  }

  .action-button{
      background: none;
      border: none;
      color: white;
      padding: 0 3px;
  }

  .action-button:hover{
      color: black;
  }
