@import url('https://rsms.me/inter/inter.css');

@font-face{
    font-family: "QanelasSoft-UL";
    src: url(./assets/QanelasSoftDEMO-UltraLight.otf);
}

@font-face{
    font-family: "QanelasSoft-EB";
    src: url(./assets/QanelasSoftDEMO-ExtraBold.otf);
}

@font-face{
    font-family: "QanelasSoft-RE";
    src: url(./assets/QanelasSoftRegular.otf);
}

@font-face{
    font-family: "QanelasSoft-ME";
    src: url(./assets/QanelasSoftMedium.otf);
}

:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: .5rem;
  --size-radius: 4px;
  line-height: 1.4;
  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --lotblue: #1A3171;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loading-text {
  padding: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}

.error-message {
  display: flex;
  justify-content: center;
  color: darkred;
  font-family: QanelasSoft-RE;
  font-size: 1.3rem;
}
